body {
  font-family: "Open Sans", sans-serif;
  color: #231942;
}

.highlights {
  font-family: "Quicksand", sans-serif;
  color: #5e548e;
}

.styled {
  font-family: "Dancing Script", cursive;
}

header {
  background-image: url("../img/PIA12348_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30rem;
  color: #f4e2eb;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.works-style {
  background-color: #e6d8e9;
}
